body {
    background: #35dc9b;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
    label {
      position: relative;
      display: block;
    }

      input {
        font: 18px Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        display: block;
        border: none;
        padding: 20px;
        width: 300px;
        margin-bottom: 0px;
        margin-top: 5px;
        font-size: 18px;
        outline: none;
        transition: all 0.2s ease-in-out;
      }
      
